@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --preto-cabecalho: #1F1F1F;
    --amarelo-costa-escurecido: #C4A36D;
    --preto: #000000;
    --branco: #FFFFFF;
    --branco-gelo: #E9E8E8;
    --amarelo-costa: #D2AE73;
    --cinza: #b6ada2;
    --bege-caracteristicas: #EAD5B2;
    --text-red: #d32f2f; /* Cor do botão excluir */
    --bg-dark-gray: #3a3a3a; /* Cor do banner de anúncio */
    --bg-card: #ceaa62; /* Tom ligeiramente mais escuro para os cards */        
    --text-light: #ffffff;
    --text-dark: #000000;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--amarelo-costa);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

