/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#d4b27a;
}

/* HEADER */

.header{
    background:#735c39;
    padding:20px 40px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo h2{
    color:white;
}

.pesquisa{
    width:40%;
}

.pesquisa input{
    width:100%;
    padding:12px;
    border:none;
    border-radius:30px;
}

.menu{
    display:flex;
    gap:20px;
}

.menu a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

/* LAYOUT */

.container{
    display:flex;
}

/* SIDEBAR */

.sidebar{
    width:320px;
    padding:25px;
    border-right:5px solid #1f1f1f;
}

.sidebar h2{
    margin-bottom:20px;
}

/* DROPDOWN */

.dropdown-filtro{
    margin-bottom:15px;
    border-radius:16px;
    overflow:hidden;
    box-shadow:0 4px 12px rgba(0,0,0,.15);
}

.dropdown-filtro summary{
    list-style:none;
    background:#735c39;
    color:white;
    padding:15px;
    cursor:pointer;
    font-weight:bold;

    display:flex;
    justify-content:space-between;
}

.dropdown-filtro summary::-webkit-details-marker{
    display:none;
}

.dropdown-filtro summary::after{
    content:"+";
    font-size:20px;
}

.dropdown-filtro[open] summary::after{
    content:"−";
}

.dropdown-filtro label{
    display:block;
    padding:12px 15px;
    background:white;
    cursor:pointer;
}

.dropdown-filtro label:hover{
    background:#f3f3f3;
}

.dropdown-filtro input{
    margin-right:10px;
}

/* CONTEÚDO */

.conteudo{
    flex:1;
    padding:30px;
}

.topo-categoria{
    margin-bottom:30px;
}

.topo-categoria h1{
    font-size:35px;
    margin-bottom:10px;
}

.topo-categoria p{
    margin-bottom:15px;
}

.topo-categoria select{
    padding:10px;
    border:none;
    border-radius:10px;
}

/* GRID */

.grid-produtos{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
}

/* CARD */

.card{
    background:white;
    border-radius:20px;
    padding:15px;

    box-shadow:0 4px 12px rgba(0,0,0,.15);

    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.card img{
    width:100%;
    border-radius:12px;
}

.card h3{
    margin-top:10px;
}

.preco-antigo{
    text-decoration:line-through;
    color:#777;
    margin-top:10px;
}

.preco{
    font-size:22px;
    font-weight:bold;
}

/* FOOTER */

.footer{
    background:#735c39;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:30px;
}

/* RESPONSIVO */

@media(max-width:1000px){

    .grid-produtos{
        grid-template-columns:repeat(2,1fr);
    }

}

@media(max-width:768px){

    .container{
        flex-direction:column;
    }

    .sidebar{
        width:100%;
        border-right:none;
    }

    .grid-produtos{
        grid-template-columns:1fr;
    }

    .header{
        flex-direction:column;
        gap:15px;
    }

    .pesquisa{
        width:100%;
    }

}