@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --preto-cabecalho: #1f1f1f;
  --amarelo-costa-escurecido: #c4a36d;
  --preto: #000000;
  --branco: #ffffff;
  --branco-gelo: #e9e8e8;
  --amarelo-costa: #d2ae73;
  --cinza: #b6ada2;
  --bege-caracteristicas: #ead5b2;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--amarelo-costa);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

/* HEADER */
header {
  height: 65px;
  border-bottom: 2px solid var(--preto-cabecalho);
  display: flex;
  align-items: center;
  background: #c4a36d86;
  flex-direction: column 1px;
  justify-content: space-between;
  backdrop-filter: blur(20px);
  position: sticky;
  top: 00;
  z-index: 10;
}

.logo-1 {
  width: 200px;
  height: 100%;
  background: var(--preto-cabecalho);
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 35px;
  flex-shrink: 0;
}

.logo-costa img {
  width: 130px;
  height: 65px;
}

.header-centro {
  width: 1500px;
  height: 38px;
  margin-left: 410px;
  margin-right: 400px;
  background: var(--branco-gelo);
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.header-centro input {
  flex: 1;
  border: none;
  background: transparent;
  outline: none;
  padding: 0 20px;
  align-items: center;
}

.header-centro button {
  width: 60px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 22px;
}

.header-centro button:hover {
  color: #000000;
  transform: scale(1.05);
}

.header-direita {
  display: flex;
  gap: 18px;
  margin-left: auto;
  margin-right: 50px;
}

.caixa-menor {
  background-color: transparent;
  border: 2px solid var(--preto);
  border-radius: 25px;
  padding: 10px 35px;
  font-size: 28px;
  font-weight: normal;
  display: flex;
  align-items: center;
  gap: 10px;
}

.caixa-menor:hover {
  background-color: transparent;
  border: 2px solid var(--preto);
  border-radius: 25px;
  padding: 10px 35px;
  font-size: 28px;
  font-weight: normal;
  display: flex;
  align-items: center;
  gap: 10px;
}
.caixa-menor span {
  font-weight: 800px;
  font-size: 15px;
}

.caixa-menor i {
  font-size: 20px;
}
/* LAYOUT */

.container {
  display: flex;
}

/* SIDEBAR */

.sidebar {
  width: 320px;
  padding: 25px;
  border-right: 5px solid #1f1f1f;
}

.sidebar h2 {
  margin-bottom: 20px;
}

/* DROPDOWN */

.dropdown-filtro {
  margin-bottom: 15px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.dropdown-filtro summary {
  list-style: none;
  background: #735c39;
  color: white;
  padding: 15px;
  cursor: pointer;
  font-weight: bold;

  display: flex;
  justify-content: space-between;
}

.dropdown-filtro summary::-webkit-details-marker {
  display: none;
}

.dropdown-filtro summary::after {
  content: "+";
  font-size: 20px;
}

.dropdown-filtro[open] summary::after {
  content: "−";
}

.dropdown-filtro label {
  display: block;
  padding: 12px 15px;
  background: rgba(255, 254, 254, 0.507);
  cursor: pointer;
}

.dropdown-filtro label:hover {
  background: #f3f3f3;
}

.dropdown-filtro input {
  margin-right: 10px;
}

/* CONTEÚDO */

.conteudo {
  flex: 1;
  padding: 30px;
}

.topo-categoria {
  margin-bottom: 30px;
}

.topo-categoria h1 {
  font-size: 35px;
  margin-bottom: 10px;
}

.topo-categoria p {
  margin-bottom: 15px;
}

.topo-categoria select {
  padding: 10px;
  border: none;
  border-radius: 10px;
}

/* GRID */

.grid-produtos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

/* CARD */

.card {
  background: white;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  border-radius: 12px;
}

.card h3 {
  margin-top: 10px;
}

.preco-antigo {
  text-decoration: line-through;
  color: #777;
  margin-top: 10px;
}

.preco {
  font-size: 22px;
  font-weight: bold;
}

/* RODA-PÉ */

.footer {
  margin-top: 120px;
  height: 250px;
  background: var(--preto-cabecalho);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #dfbf84;
}

.footer-coluna {
  padding: 0 40px;
  text-align: center;
}

.footer-coluna2 {
  padding: 0 40px;
  text-align: center;
}

.logo-footer h3 {
  font-size: 34px;
  font-style: italic;
}

.logo-footer span {
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
}

.footer-coluna p {
  margin: 12px 30px;
  font-size: 17px;
}

.footer-coluna2 p {
  margin: 12px 30px;
  font-size: 17px;
  cursor: pointer;
}

.footer-coluna2 p:hover {
  color: #fce9c0;
  transform: translateY(-1px);
}

.divisor {
  width: 1px;
  height: 110px;
  background: #5c5c5c;
}

.redes-sociais {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin-top: 8px;
}

.redes-sociais i,
.footer-icon {
  color: #000;
  font-size: 45px;
  cursor: pointer;
}

.redes-sociais i:hover,
.footer-icon:hover {
  transform: translateY(-1px);
}

.footer-coluna img {
  width: 300px;
}

.direitos {
  background: var(--preto-cabecalho);
  color: #fff;
  text-align: center;
  font-size: 16px;
  padding-bottom: 12px;
}

/* RESPONSIVO */

@media (max-width: 992px) {
  .header {
    flex-direction: column;
    height: auto;
    gap: 20px;
    padding: 20px;
  }

  .logo-1 {
    width: 100%;
  }

  .logo-1::after {
    display: none;
  }

  .header-centro {
    width: 100%;
    margin-left: 0;
  }

  .header-direita {
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
  }

  main h2 {
    font-size: 30px;
    text-align: center;
    padding: 0 20px;
  }

  .pesquisa {
    width: 90%;
  }

  .caixa-geral {
    width: 90%;
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .footer {
    flex-direction: column;
    height: auto;
    gap: 20px;
    padding: 30px 0;
  }

  .divisor {
    display: none;
  }
}
